[phases.setup]
nixPkgs = ["python310", "python310Packages.pip", "gcc", "gpp", "fftw", "sqlite"]

[phases.install]
cmds = [
    "pip install -r app/requirements.txt",
    "python app/setup_db.py"
]

[start]
cmd = "cd app && python serve.py --port $PORT --address 0.0.0.0"
